<header>
  <div class="container">
    <h1>golf with friends</h1>
  </div>
</header>

<div class="container">
  <ul>
    <li>Keep track of your golf scores</li>
    <li>Share your scores with your friends</li>
    <li>Create your own personal tour leader board</li>
    <li>Get visualizations on your score statistics</li>
    <li>Share pictures/videos of the course/hole</li>
    <li>Share stories &amp; anecdotes about the course/hole</li>
  </ul>
</div>
