<div class="jumbotron">
  <div class="container">
    <h1>Golf</h1>
    <p>
      Share your golf scores with your friends
    </p>
    <p>
      <a href="auth/signup" class="btn btn-primary btn-lg" role="button">Sign up</a>
      <a href="auth/login" class="btn btn-primary btn-lg" role="button">Sign in</a>
    </p>
  </div>
</div>

<div class="container">
  <ul>
    <li>Keep track of your golf scores</li>
    <li>Share your scores with your friends</li>
    <li>Create your own personal tour leader board</li>
    <li>Get visualizations on your score statistics</li>
    <li>Share pictures/videos of the course/hole</li>
    <li>Share stories &amp; anecdotes about the course/hole</li>
  </ul>
</div>

