<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    {{title}}
                </div>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    {{#if loggedIn}}
                        <li><a href="">sign out</a></li>
                    {{else}}
                        <li><a href="">sign in</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        {{{body}}}
    </body>
</html>
