<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Profile</h2>
        <form method="post" action="">
          <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" value={{user.name}}>
          </div> 
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" value={{user.email}}>
          </div> 
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
